@model AuthenticateModel

@{
    ViewData["Title"] = "Login";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<div>
    <h1 class="display-4">Welkom terug!</h1>
    <form method="post" autocomplete="off">
        <div class="form-group">
            <label for="usernameInput">Username:</label>
            <input class="form-control" type="text" id="username" />
        </div>
        <div class="form-group">
            <label for="passwordInput">Password</label>
            <input class="form-control" type="password" id="password" />
            <small id="passwordHelp" class="form-text text-muted">Ik zal je wachtwoord nooit ergens opslaan.</small>
        </div>
        <button id="login-btn" type="button" class="btn btn-primary">Log in</button>
    </form>
    <br />
    <div id="loginResult" class=""></div>
    <div id="token" class=""></div>

    <script type="text/jscript">
        $("#login-btn").click(function () {
            var url = "https://localhost:44306/Auth/Authenticate";
            var usernameInpt = $("#username").val();
            var passwordInpt = $("#password").val();
            // Post request naar controller
            $.post(url, { username: usernameInpt, password: passwordInpt }, function (data) {
                // Data == null als onjuiste gegevens worden in gevoerd
                // Data == Not Activated als het account nog niet is geactiveerd
                // Data == Gebruikersnaam van user als login succesvol was
                if (data == null) {
                    $("#loginResult").removeClass("alert alert-success");
                    $("#loginResult").addClass("alert alert-danger");
                    $("#loginResult").html("Onjuiste gegevens! Probeer het opnieuw!");
                } else {
                    if (data.isActivated == false) {
                        $("#loginResult").removeClass("alert alert-success");
                        $("#loginResult").addClass("alert alert-danger");
                        $("#loginResult").html("Activeer je account eerst voordat je kan inloggen!");
                    } else {
                        console.log(data);
                        $("#loginResult").removeClass("alert alert-danger");
                        $("#loginResult").addClass("alert alert-success");
                        $("#loginResult").html("Succesvol ingelogd als " + data.username + "!");
                        // Store token in localstorage
                        localStorage.setItem("JwtToken", data.token);
                        // Route user to todo items
                        window.location.replace("https://www.google.com");
                    }
                }
            });
        });
    </script>
</div>