@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welkom!</h1>
    <p>Ik heb een Authorizatie systeem gemaakt waarbij je kan inloggen en een account maken.</p>
</div>
